# Ignore node_modules folder
node_modules/**
data_by_country/**
/data_by_country/Hungary
/data_by_country/Ireland
/hgt_cache
cache/**
/osm-slope
oneXoneMaps/**
northernPT.json
southernPT.json

#images
/static/images/*
!/static/images/entity
# /static/images/logos
# /static/images/models
# /static/images/stock

/static/video/*

# Ignore files related to keys
.env

# Conf files:
*.conf

# Docs:
/out
